body {
  margin: 0;
  padding: 0;
  background-color: black;
  animation: intro 10s;
}

.gallerybackground {
  background: url(./img/20.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.page-containermobile {
  display: none;
  background: url("./img/mainmobile.png") no-repeat bottom/ cover;
  height: 100vh;
}

.page-back {
  width: 120vw;
  height: 120vh;
  top: -10vh;
  left: -10vw;
  position: absolute;
  background-image: url(./img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 297px 139px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 297px 139px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 297px 139px rgba(0, 0, 0, 1);
}

.grass {
  width: 120vw;
  height: 60vh;
  top: 70vh;
  position: absolute;
  background-image: url(./img/black-grass-png.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(3px);
  z-index: 2;
}
.rock {
  width: 400px;
  height: 115vh;
  top: -6vh;
  right: -5vw;
  position: absolute;
  background-image: url(./img/rock.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(1px);
  z-index: 1;
}
.persone {
  width: 250px;
  height: 600px;
  right: 30vw;
  bottom: 0vh;
  position: absolute;
  background-image: url(./img/persone.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  -webkit-filter: blur(1px);
}
.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/cloud.png);
  background-size: cover;
  animation: animate 100s linear infinite;
}
.cloud1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/cloud1.png);
  background-size: cover;
  animation: animate 400s linear infinite;
}

.text {
  text-align: center;
  margin-top: 50vh;
  font-family: "Amatic SC", cursive;
  text-shadow: 2px 2px 10px black;
  opacity: 0.9;
}
.text1 {
  text-align: center;
  margin-top: 10vh;
  font-family: "Amatic SC", cursive;
  text-shadow: 2px 2px 10px black;
  opacity: 0.9;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

.diamond-grid {
  width: 70%;
  margin: 20vh 18.8vw 0;
  opacity: 1;
}
.item {
  width: 200px;
  height: 200px;
  background: rgb(158, 35, 35);
}

.item:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.item img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(1.5);
  transition: 0.5s;
}
.item img:hover {
  width: 70%;
  left: 15%;
  transition: 0.5s;
}

#YouTubeVideoPlayer {
  display: none;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -5440px;
  }
}
@media screen and (max-width: 768px) {
  .diamond-grid {
    width: 100%;
    margin: 20vh 0vw 0;
    opacity: 1;
  }
  .page-container {
    display: none;
  }
  .page-containermobile {
    display: block;
  }
  .text {
    margin-top: 0;
    padding-top: 1vh;
  }
}
